# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
#*.so
#*.dylib

# Compiled Static libraries
#*.lai
#*.la
#*.a

# Various Python shit
bin/win32/__pycache__/
bin/win32/cefpython/

# Visual Studio Stuff
*.idb
*.ilk
*.pdb

# Build Directory
build/

*.exe