# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
#*.so
#*.dylib

# Compiled Static libraries
#*.lai
#*.la
#*.a

# Visual Studio Stuff
*.idb
*.ilk
*.pdb

# Build Directory
build/

bin/win32/window_test_debug.exe
bin/win32/archive_contents_test_debug.exe
bin/win32/archiver.exe
