ul.dynatree-container
{
	font-family: tahoma, arial, helvetica;
	font-size: 10pt; /* font size should not be too big */
	white-space: nowrap;
	padding: 3px;
	margin: 0; /* issue 201 */
	background-color: #eaeaea;
	overflow: auto;
	height: 400px; /* issue 263 */
}

/* Remove blue color and underline from title links */
ul.dynatree-container a
/*, ul.dynatree-container a:visited*/
{
	color: black; /* inherit doesn't work on IE */
	text-decoration: none;
	vertical-align: top;
	margin: 0px;
	margin-left: 3px;
/*	outline: 0; /* @ Firefox, prevent dotted border after click */
}

ul.dynatree-container a:hover
{
/*	text-decoration: underline; */
	color: #2a2a2a;
}

ul.dynatree-container a:focus,
span.dynatree-focused a:link  /* @IE */
{
	background-color: #eaeaea;
	color: #2a2a2a;
}

span.dynatree-active a
{
	background-color: #eaeaea !important;
	color: #2a2a2a !important; /* @ IE6 */
}
